on boot
    # Always start adbd on userdebug and eng builds
    # Please remove follow comment in debug mode.
    # mount ext4 /dev/block/bootdevice/by-name/system /system wait ro barrier=1
    # write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    # setprop sys.usb.config adb
    # start adbd

on property:vendor.kpdpwr.reset.enabled=0
    write /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-00/c440000.qcom,spmi:qcom,pm8998@0:qcom,power-on@800/kpdpwr_reset 0

on property:vendor.kpdpwr.reset.enabled=1
    write /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-00/c440000.qcom,spmi:qcom,pm8998@0:qcom,power-on@800/kpdpwr_reset 1

